<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span>
    <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">
    OP - CISS
  </span>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- <ng-container *ngIf="isLoggedIn$ | async as isLoggedIn"> -->
    <!-- <div *ngIf="{
        userType: userType$ | async,
        isLoggedIn: isLoggedIn$ | async
      }"> -->
    <!-- *ngIf="userType === 'G2' || userType === 'PG' || userType === 'CISS_ADMINISTRATOR'" -->
    <!-- *ngIf="(userType$ | async).userData.userDatabases.includes('Clinic Database')" -->

    <!-- routerLink="livefeed" -->
    <!-- <button mat-menu-item *ngIf="(userType$ | async)?.includes('G2') ||
      (userType$ | async)?.includes('PG') ||
      (userType$ | async)?.includes('CISS_ADMINISTRATOR')" (click)="scroll(livefeed)">
      <mat-icon>graphic_eq</mat-icon>
      <span>@ Live Feed</span>
    </button> -->

    <button mat-menu-item *ngIf="(userType$ | async)?.includes('G2') ||
    (userType$ | async)?.includes('PG') ||
    (userType$ | async)?.includes('CISS_ADMINISTRATOR')" routerLink="/">
      <mat-icon>graphic_eq</mat-icon>
      <span>@ Live Feed</span>
    </button>
    <!-- </ng-container> -->
    <button mat-menu-item *ngIf="isLoggedIn" routerLink="access-approval">
      <mat-icon>spellcheck</mat-icon>
      <span>Access Approval</span>
    </button>
    <button mat-menu-item *ngIf="!isLoggedIn" routerLink="login">
      <mat-icon>perm_identity</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item *ngIf="service.hasSearch" (click)="hidesearch()">
      <mat-icon>check</mat-icon>
      <span>Hide Search</span>
    </button>
    <button mat-menu-item *ngIf="!service.hasSearch" (click)="showsearch()">
      <mat-icon>check_box_outline_blank</mat-icon>
      <span>Show Search</span>
    </button>
    <button mat-menu-item *ngIf="isLoggedIn" (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>



</mat-toolbar>


<!-- <mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <span class="demo-toolbar">
    <div id="content">
    <div>
      <span>
        <img src="assets/img/angular_whiteTransparent.svg" class="angular-logo">
        OP - Central Information Security System
      </span>
    </div>
    <div>
      <span class="fill-remaining-space"></span>
    </div>
    <div *ngIf="isLoggedIn">
      <button mat-button routerLink="access-approval">Access Approval</button>
    </div>
    <div *ngIf="!isLoggedIn">
      <button mat-button routerLink="login">Login</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button mat-button (click)="onLogout()">Logout</button>
    </div>
    </div>
  </span>
</mat-toolbar> -->
