<!-- <div class="buttons-container">
  <button mat-fab (click)="old_add()"><i class="material-icons">&#xE147;</i></button>
  <button mat-fab (click)="old_remove(0)" [disabled]="list.length===0"><i class="material-icons">&#xE872;</i></button>
</div> -->

<div *ngIf="(userType$ | async)?.includes('G2') ||
            (userType$ | async)?.includes('PG') ||
            (userType$ | async)?.includes('CISS_ADMINISTRATOR')">

  <div class="buttons-container">
    <h1>
      <mat-icon>graphic_eq</mat-icon> @ Live Feed
    </h1>
  </div>

  <div @list class="list-container">
    <div @items class="box" *ngFor="let item of items$ | async; let i=index; trackBy: track">
      <mat-card class="example-card" (click)="OnMatCardClickEvent(item)">
        <mat-card-header>
          <div mat-card-avatar
            [ngStyle]="{'background-image': 'url(../assets/face_icon/'+ setFaceIcon(item.distinction, item.gender) + '.svg)'}"
            class="example-header-image"></div>
          <mat-card-title>{{ item.gate }}</mat-card-title>
          <mat-card-subtitle>{{ item.name }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="service.transformPBU(item.imagepath)" alt="Photo">
        <mat-card-content>
          <p style="font-size: larger;">
            <b>{{ item.distinction }}</b>
            <!-- <br><qrcode [qrdata]="item.qrcode" [size]="200" [level]="'M'" style="width: 100%;padding: 10px;"></qrcode> -->
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>

  <div style="float: left; margin: 10px;">
    <h2>Highlight</h2>
    <cdk-virtual-scroll-viewport itemSize="250" class="vs-example-viewport">
      <div *cdkVirtualFor="let item of highlights" class="vs-example-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ item.gate }} `` {{ item.datetime | date: 'MMM dd yyyy, hh:mm a' }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
              <mat-card class="example-card">
                <img mat-card-image [src]="service.transformPBU(item.imagepath)" alt="Photo">
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-content>
                  <qrcode [qrdata]="item.qrcode" [size]="200" [level]="'M'" style="width: 100%;padding: 10px;"></qrcode>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-card-content>
            <p style="font-size: larger;">
              <b>{{ item.name }} - {{ item.distinction }}</b>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div style="float: left; margin: 10px;">
    <h2>Realtime Logs</h2>
    <cdk-virtual-scroll-viewport itemSize="250" class="vs-example-viewport">
      <div *cdkVirtualFor="let item of vsentireitems" class="vs-example-item">
        <mat-card class="example-card" (click)="OnMatCardClickEvent(item)">
          <mat-card-header>
            <mat-card-title>{{ item.gate }} `` {{ item.datetime | date: 'MMM dd yyyy, hh:mm a' }}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
              <mat-card class="example-card">
                <img mat-card-image [src]="service.transformPBU(item.imagepath)" alt="Photo">
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="example-card">
                <mat-card-content>
                  <qrcode [qrdata]="item.qrcode" [size]="200" [level]="'M'" style="width: 100%;padding: 10px;"></qrcode>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-card-content>
            <p style="font-size: larger;">
              <b>{{ item.name }} - {{ item.distinction }}</b>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div style="float: left; margin: 10px;">
    <h2>Reactive Analytics</h2>
    <h3 style="color: darkslategrey;">Today's Total</h3>
    <h3>People Inside:</h3>
    <h3>Visitors Inside:</h3>
    <h3>OP Employees Inside:</h3>
    <h3>Tourists Inside:</h3>
    <h3>Non-OP Employees Inside:</h3>
  </div>

</div>



<!-- let item of list; let i=index; -->
<!-- live -->

<!-- <div class="container">

  <div class="input-field">
    <i class="material-icons prefix">rss_feed</i>
    <input id="icon_prefix" (keyup.enter)="feed(feedinput)" #feedinput placeholder="Add Feed..">
  </div>
  <div class="input-field">
    <i class="material-icons prefix">rss_feed</i>
    <input id="icon_prefix" (keyup.enter)="add(addinput)" #addinput placeholder="Add Item..">
  </div>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Livefeed</h4>
    </li>
    <li class="collection-item" *ngFor="let item of items$ | async; trackBy: track">
      <div [class.done]="item.completed">{{item.name}}
        <span class="secondary-content" (click)="remove(item.id)">
          <i class="material-icons">delete_forever</i>
        </span>
        <span class="secondary-content" (click)="toggle(item.id)">
          <i class="material-icons">done</i>
        </span>
        <span class="secondary-content">&nbsp; : &nbsp;</span>
        <span class="secondary-content">
          {{item.gate}}
        </span>
        <span class="secondary-content">&nbsp; - &nbsp;</span>
        <span class="secondary-content">
          {{item.distinction}}
        </span>
      </div>
    </li>
  </ul>
</div>
-->

<!-- <ul class="list">
  <cdk-virtual-scroll-viewport style="height: 900px; width: 900px;" itemSize="300">
    <ng-container *cdkVirtualFor="let n of items$">
      <li>
        <mat-card>
          <pre>
            {{n?.name}}
            <qrcode [qrdata]="profile.cissinqtext" [size]="300" [level]="'M'" style="width: 100%;padding: 10px;"></qrcode>
          </pre>
        </mat-card>
      </li>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ul> -->
