.buttons-container, .list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  flex-direction: row;
}

.list-container {
  flex-direction: row;
}

.box {
  min-width: 300px;
  width: 300px;
  height: 550px; /* 350px */
  background-color: #ffffff;
  margin: 5px;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  margin: 20px 10px 20px 0;
  background-color: #2976b9;
}

/* tanggalin dapat */

.secondary-content {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.pre-class {
  white-space: pre;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.list {
  color: #333;
  list-style: none;
  margin: 50px 50px auto 50px;
  padding: 5px; /* 10 */
}

.list li {
  padding: 5px; /* 25 */
  background: #FAFAAF;
  border-radius: 5px;
  margin: auto 10px 5px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.center {
  text-align: center;
}

/* end tanggalin dapat */