<h1 mat-dialog-title>Access approval for {{data.profile.name.first}}</h1>
<div mat-dialog-content>
  <!-- style="text-align: -webkit-center;" -->
  <div id="content">
  <!-- preface -->
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ data.profile.name.first }} {{ data.profile.name.last }}</mat-card-title>
          <mat-card-subtitle>{{ data.profile.distinction }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <ul>
              <li>Mr/Ms. <b>{{ data.profile.name.last }}</b> is requesting to have access to these areas <strong>{{ getAccess(data.profile.access.one, data.profile.access.two, data.profile.access.three, data.profile.access.four) }}</strong>.</li>
              <li>He/she is an <b [style.color]="getColor(data.profile.recordstatus)">{{ data.profile.recordstatus | uppercase }}</b>&nbsp;<b>{{ data.profile.distinction }}</b> who <span *ngIf="data.profile.recordstatus === 'ACTIVE'">currently</span><span *ngIf="data.profile.recordstatus === 'INACTIVE'">recently</span> holds the position <b>{{ data.profile.employee.position }}</b> at the <b>{{ data.profile.employee.office }}</b>.</li>
              <li>Based on the records, this person <span *ngIf="data.profile.blacklisted === true">has been blacklisted from entering</span><span *ngIf="data.profile.blacklisted === false">is allowed to enter</span> Malacanang Complex.</li>
              <li>His/her most recent access level is <b>{{ data.profile.personaccesslevel }}</b> with current <b>{{ data.profile.accessapproval }}</b> status.</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- end preface -->
    <!-- radio and toggle on nested grid -->
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ data.profile.name.first }} {{ data.profile.name.last }}</mat-card-title>
          <mat-card-subtitle>{{ data.profile.distinction }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <p>
              <b>nested grid for radio and toggle buttons here</b>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- end radio and toggle on nested grid -->
    <!-- color access preview -->
    <div>
        <mat-card class="column-card">
            <div class="row">
              <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.access.one, 'One')">1</div>
              <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.access.two, 'Two')">2</div>
            </div>
            <img mat-card-image src="{{data.profile.photothumbnailurl}}" alt="Photo" style="height:250px; object-fit: contain;">
            <div class="row">
              <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.access.three, 'Three')">3</div>
              <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.access.four, 'Four')">4</div>
            </div>
          </mat-card>
    </div>
    <!-- end color access preview -->
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>&nbsp;&nbsp;

  <!-- hr -->
  <button mat-raised-button color="accent" *ngIf="user.usertype === 'OP-HRMO-DATA-OFFICER'" [mat-dialog-close]="data.profile" cdkFocusInitial>Send Request</button>

  <!-- psg -->
  <button mat-raised-button color="warn" *ngIf="user.usertype === 'PSG-DATA-OFFICER'" [mat-dialog-close]="data.profile" cdkFocusInitial>Endorse Access</button>

  <!-- ciss manager -->
  <button mat-flat-button color="warn" *ngIf="user.usertype === 'PSG-CISS-MANAGER'" [mat-dialog-close]="data.profile">Deny Access</button>&nbsp;&nbsp;
  <button mat-raised-button color="primary" *ngIf="user.usertype === 'PSG-CISS-MANAGER'" [mat-dialog-close]="data.profile" cdkFocusInitial>Approve Access</button>
</div>
