<h1 mat-dialog-title>Access approval for {{data.profile.name.first}} {{data.profile.name.last}}</h1>
<div mat-dialog-content>
  <!-- style="text-align: -webkit-center;" -->
  <div id="content">
  <!-- preface -->
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ data.profile.name.first }} {{ data.profile.name.last }}</mat-card-title>
          <mat-card-subtitle>{{ data.profile.distinction }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <ul>
              <li *ngIf="user.usertype === 'PSG-CISS-MANAGER'">Mr/Ms. <b>{{ data.profile.name.last }}</b> is requesting to have access to these areas: <strong>{{ getAccess(data.profile.proviaccess.one, data.profile.proviaccess.two, data.profile.proviaccess.three, data.profile.proviaccess.four) }}</strong>.</li>
              <li>Currently, the areas: <strong>{{ getAccess(data.profile.access.one, data.profile.access.two, data.profile.access.three, data.profile.access.four) }}</strong> are accessible to Mr/Ms. {{ data.profile.name.last }}.</li>
              <li>He/she is an <b [style.color]="getColor(data.profile.recordstatus)">{{ data.profile.recordstatus | uppercase }}</b>&nbsp;<b>{{ data.profile.distinction }}</b> who <span *ngIf="data.profile.recordstatus === 'ACTIVE'">currently</span><span *ngIf="data.profile.recordstatus === 'INACTIVE'">recently</span> holds the position <b>{{ data.profile.employee.position }}</b> at the <b>{{ data.profile.employee.office }}</b>.</li>
              <li>Based on the records, this person <span *ngIf="data.profile.blacklisted === true">has been blacklisted from entering</span><span *ngIf="data.profile.blacklisted === false">is allowed to enter</span> Malacanang Complex.</li>
              <li>His/her access is tagged as <b>{{ data.profile.personaccesslevel }}</b>.</li>
              <li>And his/her most recent request for access was <span *ngIf="(data.profile.accessdatetagged | date:'EEEE d MMMM') === (today | date:'EEEE d MMMM')">today </span><span *ngIf="(data.profile.accessdatetagged | date:'EEEE d MMMM') !== (today | date:'EEEE d MMMM')">this past </span><b>{{ data.profile.accessdatetagged | date: 'MMMM dd yyyy @ hh:mm a' }}</b> which was <b>{{ data.profile.accessapproval | uppercase }}</b>.</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- end preface -->
    <!-- radio and toggle on nested grid -->
    <!-- *ngIf="!(user.usertype === 'PSG-CISS-MANAGER' && data.profile.accessapproval === 'Provisional')" -->
    <div>
      <!-- <div class="row"> -->
        <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar><mat-icon color="primary">ballot</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="primary">filtre_2</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="primary">looks_one</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="primary">list</mat-icon></div> -->
            <div mat-card-avatar class="example-header-image-1"></div>
            <mat-card-title>ACCESS PRESETS</mat-card-title>
            <mat-card-subtitle>Select an access label</mat-card-subtitle>
          </mat-card-header>
          <br>
          <mat-card-content>
            <!-- <h2 class="example-h2">Access Presets</h2> -->
            <mat-radio-group class="nested">
              <mat-radio-button class="example-margin" [checked]="passingThroughChecked" value="PASSING THROUGH" (change)="optionButtonChanged($event)" matTooltip="Visitors & Residents (no code selected)">PASSING THROUGH</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="officialChecked" value="OFFICIAL" (change)="optionButtonChanged($event)" matTooltip="OP Officials (codes 1 and 2 are selected)">OFFICIAL</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="rankAndFileChecked" value="RANK AND FILE" (change)="optionButtonChanged($event)" matTooltip="Rank and File OP Personnels (code 2 is selected)">RANK AND FILE</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="uniformedOfficialChecked" value="UNIFORMED OFFICIAL" (change)="optionButtonChanged($event)" matTooltip="PSG Officials (all codes are selected)">UNIFORMED OFFICIAL</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="uniformedPersonnelChecked" value="UNIFORMED PERSONNEL" (change)="optionButtonChanged($event)" matTooltip="PSG Personnels (codes 2 and 4 are selected)">UNIFORMED PERSONNEL</mat-radio-button>
              <mat-radio-button class="example-margin" [checked]="customizedChecked" value="CUSTOMIZED" (change)="optionButtonChanged($event)" matTooltip="Manually select access codes">CUSTOMIZED</mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>
      <!-- </div> -->
      <div class="row">
        <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar><mat-icon color="accent">settings_input_component</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">exposure</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">hdr_strong</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">iso</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">filtre_2</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">looks_two</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">tune</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">fiber_smart_record</mat-icon></div> -->
            <!-- <div mat-card-avatar><mat-icon color="accent">edit_attributes</mat-icon></div> -->
            <div mat-card-avatar class="example-header-image-2"></div>
            <mat-card-title>ACCESS CODES</mat-card-title>
            <mat-card-subtitle>Identify codes for access</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!-- <h2 class="example-h2">Access Codes</h2> -->
            <div class="nested">
              <mat-slide-toggle
                  class="example-margin"
                  [color]="oneColor"
                  [checked]="oneChecked"
                  [disabled]="oneDisabled"
                  (change)="slideToggleOneChanged($event)"
                  matTooltip="Code 1 is palace, pgh (critical areas)">
                Code 1
              </mat-slide-toggle>

              <mat-slide-toggle
                  class="example-margin"
                  [color]="twoColor"
                  [checked]="twoChecked"
                  [disabled]="twoDisabled"
                  (change)="slideToggleTwoChanged($event)"
                  matTooltip="Code 2 is mabini, engr., other non-critical OP buildings">
                Code 2
              </mat-slide-toggle>

              <mat-slide-toggle
                  class="example-margin"
                  [color]="threeColor"
                  [checked]="threeChecked"
                  [disabled]="threeDisabled"
                  (change)="slideToggleThreeChanged($event)"
                  matTooltip="Codes 3 is a PSG reserved code (PSG controlled areas)">
                Code 3
              </mat-slide-toggle>

              <mat-slide-toggle
                  class="example-margin"
                  [color]="fourColor"
                  [checked]="fourChecked"
                  [disabled]="fourDisabled"
                  (change)="slideToggleFourChanged($event)"
                  matTooltip="Codes 4 is a PSG reserved code (PSG controlled areas)">
                Code 4
              </mat-slide-toggle>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="row">
        <pre>
Legend:

  Code 1 is palace, pgh ( critical areas )
  Code 2 is mabini, engr., other non-critical OP buildings
  Codes 3 and 4 are PSG reserved codes ( PSG controlled areas )
        </pre>
      </div>
    </div>
    <!-- end radio and toggle on nested grid -->
    <!-- color access preview -->
    <div>
      <mat-card class="column-card">
        <div class="row">
          <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.proviaccess.one, 'One')">1</div>
          <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.proviaccess.two, 'Two')">2</div>
        </div>
        <img mat-card-image src="{{data.profile.photothumbnailurl}}" alt="Photo" style="height:250px; object-fit: contain;">
        <div class="row">
          <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.proviaccess.three, 'Three')">3</div>
          <div class="one-2-3-4" [style.background-color]="getTileAccess(data.profile.proviaccess.four, 'Four')">4</div>
        </div>
      </mat-card>
    </div>
    <!-- end color access preview -->
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>&nbsp;&nbsp;

  <!-- hr -->
  <button mat-raised-button color="accent" *ngIf="user.usertype === 'OP-HRMO-DATA-OFFICER'" (click)="onButtonClick('Send Request')" [mat-dialog-close]="data" cdkFocusInitial>Send Request</button>

  <!-- psg -->
  <button mat-raised-button color="warn" *ngIf="user.usertype === 'PSG-DATA-OFFICER'" (click)="onButtonClick('Endorse Access')" [mat-dialog-close]="data" cdkFocusInitial>Endorse Access</button>

  <!-- ciss manager -->
  <button mat-flat-button color="warn" *ngIf="user.usertype === 'PSG-CISS-MANAGER' && data.profile.accessapproval === 'Provisional'" (click)="onButtonClick('Deny Request')" [mat-dialog-close]="data">Deny Request</button>&nbsp;&nbsp;
  <button mat-raised-button color="primary" *ngIf="user.usertype === 'PSG-CISS-MANAGER' && data.profile.accessapproval === 'Provisional'" (click)="onButtonClick('Approve Request')" [mat-dialog-close]="data" cdkFocusInitial>Approve Request</button>
</div>
