<h4 mat-dialog-title>Request Form for <span *ngIf="data.freezedProfile.gender === 'male'">Mr. </span>
  <span *ngIf="data.freezedProfile.gender === 'female'">Ms. </span>
  {{ data.freezedProfile.name.first | uppercase }}
  {{ data.freezedProfile.name.middle | slice:0:1 | uppercase }}.
  {{ data.freezedProfile.name.last | uppercase }}</h4>
<div mat-dialog-content>
  <div id="divToPrint" class="container">
    <div class="row">
      <div class="column">
        <div class="row">
          <div>
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>OP CISS REQUEST FORM</mat-card-title>
                <mat-card-subtitle>Request For ID Printing / Re-printing and Request Access Restrictions
                </mat-card-subtitle>
              </mat-card-header>
              <br>
              <mat-card-content>
                <mat-radio-group class="nested" style="font-size: 11px;">
                  <mat-radio-button value="1" class="example-margin">PRINTING OF OP ID</mat-radio-button>
                  <mat-radio-button value="2" class="example-margin">PRINTING OF NON-OP and BARANGAY ID
                  </mat-radio-button>
                  <mat-radio-button value="3" class="example-margin">RE-PRINTING OF OP ID</mat-radio-button>
                  <mat-radio-button value="4" class="example-margin">RE-PRINTING OF NON-OP and BARANGAY ID
                  </mat-radio-button>
                  <mat-radio-button value="5" class="example-margin">REQUEST FOR NEW ACCESS RESTRICTIONS
                  </mat-radio-button>
                  <mat-radio-button value="6" class="example-margin">REQUEST FOR VISITOR ACCESS</mat-radio-button>
                </mat-radio-group>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <br />
        <div class="row">
          <!-- <div class="profile-column">
            <mat-card class="column-card">
              <img mat-card-image src="{{data.freezedProfile.photothumbnailurl}}" alt="Photo"
                style="height:250px; max-width:200px; object-fit: contain;">
              <div class="row">
                <span class="profile">{{ data.freezedProfile.name.first | uppercase }}
                  {{ data.freezedProfile.name.middle | slice:0:1 | uppercase }}.
                  {{ data.freezedProfile.name.last | uppercase }}</span>
              </div>
            </mat-card>
          </div> -->
          <div class="profile-column">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{ data.freezedProfile.name.first | uppercase }}
                  {{ data.freezedProfile.name.middle | slice:0:1 | uppercase }}.
                  {{ data.freezedProfile.name.last | uppercase }}</mat-card-title>
                <mat-card-subtitle>{{ data.freezedProfile.distinction }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="column-card" *ngIf="data.freezedProfile.distinction === 'OPEMPLOYEE'">
                  <div class="row">
                    <span class="profile">{{ data.freezedProfile.employee.position | uppercase }}</span>
                  </div>
                  <br />
                  <div class="row">
                    <span class="profile">{{ data.freezedProfile.employee.office | uppercase }}</span>
                  </div>
                </div>
                <div class="column-card" *ngIf="data.freezedProfile.distinction === 'BRGYRESIDENT'">
                  <div class="row">
                    <span class="profile">Barangay {{ data.freezedProfile.resident.barangay | uppercase }}</span>
                  </div>
                  <br />
                  <div class="row">
                    <span class="profile">{{ data.freezedProfile.resident.district | uppercase }}</span>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="profile-column">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar>
                  <mat-icon aria-label="SECURITY KEY">vpn_key</mat-icon>
                </div>
                <mat-card-title>SECURITY KEY</mat-card-title>
              </mat-card-header>
              <div class="row">
                <qrcode [qrdata]="data.freezedProfile.cissinqtext" [size]="200" [level]="'M'"
                  style="width: 50%;padding: 20px;"></qrcode>
              </div>
              <!-- <div class="row">
                <span class="profile">Security Code {{ data.freezedProfile.cisstoken }}</span>
              </div> -->
            </mat-card>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="row" style="font-size: 11px;">
            <mat-vertical-stepper [linear]="isLinear" [selectedIndex]="data.freezedProfile.nextstep" #stepper>
              <ng-template matStepperIcon="edit">
                <mat-icon>check</mat-icon>
              </ng-template>
              <mat-step *ngFor="let step of steps" [stepControl]="step.dialogbuttontext" [completed]="false"
                editable="false">
                <ng-template matStepLabel>
                  <small>{{ step.completedsteptext }} ________________ &#8592; Sign Here</small>
                </ng-template>
              </mat-step>
            </mat-vertical-stepper>
          </div>
          <br />
          <div class="row">
            <font color="black">
              <small>
                <small>
                  <pre>
Office of the President Data Privacy Consent

“By signing this form, I hereby give my consent to Office
of the President to process, including, but not limited
to the collection, recording, storage and use, the
personal information for the intended purpose, consistent
with the Office of the President (OP) Privacy Notice.”

“WHAT WE COLLECT”
We may collect the following Personal Information:
1. First Name               6. Appointment Status
2. Middle Name              7. Gender
3. Last Name                8. Mobile Number
4. Position                 9. Photo
5. Office                   10. OP ID, Resident ID

“Such information is referred to throughout Office of the
President (OP) Privacy Policy as “personal information”
or “data”. When you manually and electronically submit to
us your application, by signing this form, you grant your
consent to us the collecting, processing, storing in the
ways set out in OP Privacy Policy. If you have any issues
or concerns about providing data to us or having it used
in any matter permitted in the OP Privacy Policy you
should not sign this form.”




   ____________________________________
      PRINT NAME, DATE and SIGNATURE
              (DATA SUBJECT)
                  </pre>
                </small>
              </small>
            </font>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" *ngIf="data.usertemplate.step === 0"
    (click)="exportAs('pdf', 'portrait')">Download Printable Request Form for <span
      *ngIf="data.freezedProfile.gender === 'male'">Mr. </span><span *ngIf="data.freezedProfile.gender === 'female'">Ms.
    </span>{{ data.freezedProfile.name.last }}</button>&nbsp;&nbsp;
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>