<div id="statuschipcontent" style="background: #E0F7FA; text-align: -webkit-center;">
  <span class="statbuttons">
    <div *ngFor="let chip of statuschips">
      <button mat-fab [color]="chip.chipcolor" [matBadge]="chip.badge" [matBadgeHidden]="chip.badgehidden"
        matBadgePosition="above after" [matBadgeColor]="chip.badgecolor" [matBadgeSize]="chip.badgesize"
        (click)="OnAccessTypeClickEvent(chip.name)">
        {{ chip.alias }}
      </button>
      &nbsp;
    </div>
  </span>
  <span class="titletext">
    <ng-container [ngSwitch]="selectedAnimation">
      <ng-container *ngSwitchCase="'swing'">
        <div class="list-item" [@swingInAndOut] *ngFor="let title of titles">{{ title }}</div>
      </ng-container>
      <ng-container *ngSwitchCase="'slideFromRight'">
        <div class="list-item" [@enterAndLeaveFromRight] *ngFor="let title of titles">{{ title }}</div>
      </ng-container>
    </ng-container>
  </span>
  <span class="eventfield">
    <div class="example-chip-form">
      <mat-form-field class="example-chip-list">
        <span matPrefix>
          <mat-icon>event</mat-icon> &nbsp;
        </span>
        <!-- event insert_invitation keyboard assignment_ind filter_8 filter_1 filter_4 filter_2 phone_iphone tablet_mac laptop_mac sim_card assignment mode_edit -->
        <mat-chip-list #chipList aria-label="Event selection">
          <mat-chip *ngFor="let event of events" [selectable]="selectable" [removable]="removable"
            (removed)="remove(event)" color="accent" selected>
            {{event.code}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Event Code" maxlength="8" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-icon matSuffix>keyboard</mat-icon>
      </mat-form-field>
    </div>
  </span>
</div>
<!-- <section class="example-section"> -->
<div id="chipcontent" style="text-align: -webkit-center;">
  <!-- <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" (change)="toggle($event)">
      Newest first!
    </mat-slide-toggle> -->
  <div *ngFor="let chip of chips">
    <!-- <mat-chip-list>
        <mat-chip *ngFor="let chip of chips"
          class="allow-overflow" color="primary" selected
          [matBadge]="chip.badge" [matBadgeHidden]="chip.badgehidden"
          matBadgePosition="above after" [matBadgeColor]="chip.badgecolor"
          [matBadgeSize]="chip.badgesize"
          (click)="onDistinctionChipClick(chip.name)">{{ chip.alias }}</mat-chip>
      </mat-chip-list> -->
    <button mat-flat-button [color]="chip.chipcolor" [matBadge]="chip.badge" [matBadgeHidden]="chip.badgehidden"
      matBadgePosition="above after" [matBadgeColor]="chip.badgecolor" [matBadgeSize]="chip.badgesize"
      (click)="onDistinctionChipClick(chip.name)">
      {{ chip.alias }}
    </button>
  </div>
</div>
<!-- </section> -->
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()" id="content"
  style="overflow-y: scroll; text-align: -webkit-center;">
  <!-- height: 100%;
    overflow-y: scroll;
    text-align: -webkit-center; -->
  <div *ngFor="let i of myProfileList">
    <div>
      <mat-card class="example-card" (click)="OnMatCardClickEvent(i)">
        <mat-card-header>
          <div mat-card-avatar
            [ngStyle]="{'background-image': 'url(../assets/face_icon/'+ setFaceIcon(i.distinction, i.gender) + '.svg)'}"
            class="example-header-image"></div>
          <mat-card-title>{{ i.name.first }} {{ i.name.last }}</mat-card-title>
          <mat-card-subtitle>{{ i.distinction }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="service.transformPBU(i.photothumbnailurl)" alt="Photo">
        <mat-card-content>
          <p>
            <b *ngIf="i.distinction.includes('OPEMPLOYEE')">{{ i.employee.position }}</b>
            <b *ngIf="i.distinction.includes('OPVISITOR')">{{ i.visitor.visitorcompany }}</b>
            <b *ngIf="i.distinction.includes('BRGYRESIDENT')">{{ i.resident.barangay }}</b>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- /*grid-column: span 3;*/ -->
</div>

<div id="footers">
  <footer>
    <p class="tag is-warning" *ngIf="done | async">I ran out of profiles!</p>
    <app-loading-spinner *ngIf="loading | async"></app-loading-spinner>
  </footer>
</div>

<!-- arrow 9658 square 9632 -->
<!-- SHOULD STATE DENY REASON ON MODAL DIALOG WHEN CLICKED -->

<!-- <div>1</div>
    <div>2</div>
    <div>3</div>
    <div class="nested">
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
    </div>
    <div>5</div>
    <div>6</div> -->
