<h3 style="text-align: center; background-color: #536DFE; color: white;">IP Address: {{ client }}</h3>
<div class="container" *ngIf="validate">
  <mat-card class="parent-card" [@homeTransition]="validate">
    <div class="row">
      <div class="column">
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="VALIDATE">verified_user</mat-icon></div>
            <mat-card-title>ID VERIFICATION</mat-card-title>
          </mat-card-header>
          <div class="row">
            <h4 style="color: #817e7e">We've sent a code to {{name}}'s phone</h4>
          </div>
          <div class="row">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Enter code" [(ngModel)]="token" required style="width:100%;font-weight:bold;font-size:large;color: #424242;">
              <mat-hint align="end">6-digit verification code</mat-hint>
              <button mat-button *ngIf="token" matSuffix mat-icon-button aria-label="Clear" (click)="token=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <mat-card-actions>
            <button mat-raised-button (click)="onValidate()" color="primary" style="width: 100%;">VERIFY</button>
          </mat-card-actions>
          <div class="row">
            <p style="color: #babacb;width: 100%;text-align: center">Still waiting for the code?</p>
          </div>
          <div class="row">
            <button mat-button (click)="resendCode()" style="text-decoration: underline;color: #b3b3b3;width: 100%">Resend the code</button>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
<div class="container" [style.background-color]="getColor(profile.recordstatus)" *ngIf="profile">
  <mat-card class="parent-card" [@homeTransition]="profile">
    <div class="row">
      <div class="column">
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="STATUS">person</mat-icon></div>
            <mat-card-title>STATUS</mat-card-title>
          </mat-card-header>
          <div class="row">
            <span class="profile">{{ profile.recordstatus | uppercase }}</span>
          </div>
        </mat-card>
        <mat-card class="column-card">
          <div class="row">
            <div class="one-2-3-4" [style.background-color]="profile.access.colorone">1</div>
            <div class="one-2-3-4" [style.background-color]="profile.access.colortwo">2</div>
          </div>
          <img mat-card-image [src]="profile_picture" alt="Photo">
          <div class="row">
            <div class="one-2-3-4" [style.background-color]="profile.access.colorthree">3</div>
            <div class="one-2-3-4" [style.background-color]="profile.access.colorfour">4</div>
          </div>
        </mat-card>
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="NAME">person</mat-icon></div>
            <mat-card-title>NAME</mat-card-title>
          </mat-card-header>
          <div class="row">
            <span class="profile">{{ profile.name.first | uppercase }} {{ profile.name.middle | slice:0:1 | uppercase }}. {{ profile.name.last | uppercase }}</span>
          </div>
        </mat-card>
        <mat-card *ngIf="profile.distinction === 'OPEMPLOYEE'" class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="DESIGNATION AND OFFICE">location_city</mat-icon></div>
            <mat-card-title>DESIGNATION AND OFFICE</mat-card-title>
          </mat-card-header>
          <div class="row">
            <span class="profile">{{ profile.employee.position | uppercase }}</span>
          </div>
          <div class="row">
            <span class="profile" style="color: #817e7e">{{ profile.employee.office | uppercase }}</span>
          </div>
        </mat-card>
        <mat-card *ngIf="profile.distinction === 'BRGYRESIDENT'" class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="RESIDENCE LOCATION">location_city</mat-icon></div>
            <mat-card-title>RESIDENCE LOCATION</mat-card-title>
          </mat-card-header>
          <div class="row">
            <span class="profile">Barangay {{ profile.resident.barangay | uppercase }}</span>
          </div>
          <div class="row">
            <span class="profile" style="color: #817e7e">{{ profile.resident.district | uppercase }}</span>
          </div>
        </mat-card>
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label="GATE ACCESS KEY">vpn_key</mat-icon></div>
            <mat-card-title>GATE ACCESS KEY</mat-card-title>
          </mat-card-header>
          <div class="row">
            <qrcode [qrdata]="profile.cissinqtext" [size]="300" [level]="'M'" style="width: 50%;padding: 20px;"></qrcode>
          </div>
          <br/>
          <div class="row">
            <span class="profile">Your 8-digit key: {{ profile.cisstoken }}</span>
          </div>
        </mat-card>
        <mat-card class="column-card">
          <mat-card-header>
            <div mat-card-avatar><mat-icon aria-label=">ACCESS REQUEST STAGE">done_outline</mat-icon></div>
            <mat-card-title>ACCESS REQUEST STAGE</mat-card-title>
          </mat-card-header>
          <div class="row">
            <mat-vertical-stepper [linear]="isLinear" [selectedIndex]="profile.nextstep" #stepper>
              <ng-template matStepperIcon="edit">
                <mat-icon>check</mat-icon>
              </ng-template>
              <mat-step *ngFor="let step of steps" [stepControl]="step.dialogbuttontext" [completed]="completedBa[step.step]" editable="false">
                <ng-template matStepLabel>{{ stepstext[step.step] }}</ng-template>
              </mat-step>
            </mat-vertical-stepper>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
